version: '3.9'
services:
  app:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=mysql+pymysql://arpra:arpra@db:3306/arpra_voc
      - SECRET_KEY=arpra-secret
    volumes:
      - ./backend/app:/app/app
    depends_on:
      - db
  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: arpra_voc
      MYSQL_USER: arpra
      MYSQL_PASSWORD: arpra
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
volumes:
  db_data:
